a.top {
    display: block;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: rgba(255,72,145,.6);
    color: white;
    font: 40px/60px "";
    text-align: center;
    border-radius: 50%;
}